* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
  min-width: 1366px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  a {
    color: #004098;
  }
}

p, li {
  font-size: 0.8rem;
}

.header-anchor {
  display: none;
}